@model ChatViewModel

@{
    ViewData["Title"] = "Chat";
}

<h2>@ViewData["Title"]</h2>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse border-end">
            <div class="position-sticky pt-3">
                <div class="list-group list-group-flush">

                    <!-- Friends Section -->
                    <a href="#collapseFriends" class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" aria-expanded="true">
                        <i class="fas fa-user-friends me-2"></i>Friends
                    </a>
                    <div class="collapse show" id="collapseFriends" style="max-height: 200px; overflow-y: auto; border: 1px solid #ddd; border-radius: 4px;">
                        <ul class="list-group list-group-flush">
                            @foreach(var friend in Model.Friends)
                            {
                                <li class="list-group-item py-1">
                                    <button type="button" class="btn btn-link p-0 text-primary reloadButton" data-friendId="@friend.Id">@friend.Name
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- Chat Groups Section -->
                    <a href="#collapseGroups" class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" aria-expanded="true">
                        <i class="fas fa-comments me-2"></i>Chat Groups
                    </a>
                    <div class="collapse" id="collapseGroups" style="max-height: 200px; overflow-y: auto; border: 1px solid #ddd; border-radius: 4px;">
                        <ul class="list-group list-group-flush">
                            @for(int i = 0; i < 50; i++){
                                <li class="list-group-item py-1">
                                    <a href="#" class="text-reset">Group @i</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Sidebar End -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div id="chat-partial-container">
                @await Html.PartialAsync("ChatRoomPartial", Model)
            </div>
        </main>
    </div>

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        var username = '@Model.UserName';

        connection.start().then(function () {
            console.log("Connected to chat!");
        }).catch(function (err) {
            console.error(err.toString());
        });
    </script>

    <script>
        function startConnection() {
            connection.start().then(() => {
                console.log("Połączono z hubem MarketHub!");
            }).catch((err) => {
                console.error("Błąd połączenia z MarketHub: " + err.toString());
            });
        }

        function closeAndReconnectConnection(e) {
               
            const friendId = e.dataset.friendid;
            console.log(friendId);

            if (connection.state !== signalR.HubConnectionState.Disconnected) {
                console.log("Rozłączam połączenie...");
                connection.stop().then(() => {
                    console.log("Połączenie zostało zamknięte.");
                    startConnection();
                }).catch((err) => {
                    console.error("Błąd podczas zamykania połączenia: " + err.toString());
                });
            } 
            else {
                console.log("Połączenie jest rozłączone, nawiązuję połączenie...");
                startConnection();
            }

            $.ajax({
            url: '@Url.Action("LoadChat", "Chat")',
            type: 'GET',
            data: { userId: Number(friendId) },
            success: function (result) {
                $('#chat-partial-container').html(result);
            },
            error: function (xhr, status, error) {
                console.error('Error loading chat:', error);
                alert('Wystąpił błąd podczas ładowania czatu.');
            }
            });
            }

            window.onbeforeunload = function () {
            var groupName = $('#chat-partial-container').data('groupname');
            if (groupName) {
                console.log("Leaving Chat!");
                connection.invoke("LeaveChat", groupName);
            }};

            document.addEventListener('DOMContentLoaded', 
                () => document.querySelectorAll(".reloadButton").
                forEach(value => value.addEventListener("click",() => closeAndReconnectConnection(value))));
    </script>
</div>
